html, body {
    height: 100%; 
    margin: 0;
}

body {
    display: flex;
    flex-direction: column; 
    justify-content: center; 
    align-items: center;
    min-height: 100vh; 
}

section {
    display: flex;
    flex-direction: column;
    align-items: center; 
}

ol {
    text-align: left; 
    display: inline-block; 
}

#informacoes-academicas ol {
    list-style-type: square;
}

#experiencias-profissionais ol {
    list-style-type: square;
}

#redes-sociais ol {
    list-style-type: none;
    display: flex;
    padding: 0;
    gap: 30px;
}

#redes-sociais a {
    color: black;          
    text-decoration: none;
}